$beige: #f4f3ef;
$sidebar-grey: #242d31;
$sidebar-grey-light: #1F272B;
$light-blue: #508CB7;
$lighter-blue: #2196F3;
$dark-blue: #325975;
$dark-blue-grey: #3f8da3;
$link: #40ccce;
$link-hover: #44dbdd;
$link-active: #39b0b2;
$teal: #51cbce;
$green: #4CAF50;
$vivid-green: #18bc6d;
$french-rose: #e01a63;
$success: #28a745;
$danger: #dc3545;
$danger-hover: #f25966;
$danger-active: #a52732;
