.footer {
  padding: 15px 25px;
}
.footer-logo {
  max-width: 30px;
  max-height: 30px;
  margin-right: 10px;
}
.footer-box {
  border-top: 1px solid #ddd;
  text-align: right;
  padding-top: 5px;
}
.footer-nav > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
