.main-panel > .navbar {
  margin: 0;
}
.navbar {
  padding: 6px 0;
  height: 55px;
  margin-bottom: 20px;
}
.navbar .navbar-collapse .nav-item a {
  font-size: 14px;
}
.top-nav-link-btn {
  color: #333;
  padding: 12px 0.5rem;
}
.navbar-toggler:focus {
  box-shadow: none;
}
