@import "colors";

.sidebar .sidebar-wrapper, .off-canvas-sidebar .sidebar-wrapper {
  overflow-x: hidden;
  height: 100vh;
  position: relative;
  width: 260px;
  z-index: 4;
  padding-bottom: 100px
}
.sidebar .logo:after, .off-canvas-sidebar .logo:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);
}
.sidebar, .off-canvas-sidebar {
  bottom: 0;
  border-right: 1px solid #ddd;
}
.sidebar .nav, .off-canvas-sidebar .nav {
  margin-top: 20px;
  display: block;
}
.sidebar .nav li > a, .off-canvas-sidebar .nav li > a {
  margin: 0 15px 0;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 8px;
  line-height: 30px;
  opacity: .7;
}
.sidebar .nav li > div > a {
  margin: 0 10px;
  color: #FFFFFF;
  display: block;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  padding: 10px 8px;
  line-height: 30px;
  opacity: 0.8;
}
.sidebar .sidebar-wrapper li.active > a:not([data-toggle="collapse"]):before,
.sidebar .sidebar-wrapper li.active > [data-toggle="collapse"] + div .nav li:before {
  border-right: 17px solid $beige;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: -17px;
  opacity: 1;
  top: 7px;
  transition: opacity 150ms ease-in;
}
.sidebar .nav i,
.off-canvas-sidebar .nav i {
  font-size: 22px;
  float: left;
  margin-right: 12px;
  line-height: 30px;
  width: 34px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.nav-link {
  padding-top: 14px;
  padding-bottom: 14px;
}
.nav-link.active {
  background-color: rgba(255,255,255, 0.3);
  border-radius: 2px;
}
.sidebar .nav i {
  margin-top: -3px;
  font-size: 24px;
}
.sidebar a {
  color: #fff;
  opacity: 0.7;
}
.sidebar a:hover {
  opacity: 1;
}
.sidebar .nav li > a, .sidebar .nav li > a.active, .sidebar .nav li > a:visited {
  color: #fff !important;
  opacity: 0.86;
  padding: 10px 0;
}
.sidebar .nav i {
  color: #fff !important;
  font-size: 24px;
}
.sidebar .nav p {
  font-weight: 600;
  margin: 0;
}
.sidebar .nav li {
  width: calc(100% - 1px)
}
.sidebar .nav li:hover {
  background-color: $sidebar-grey-light;
}
.sidebar:after,
.off-canvas-sidebar:after {
  background: $sidebar-grey;
  z-index: 3;
}
.sidebar:before, .sidebar:after,
.off-canvas-sidebar:before,
.off-canvas-sidebar:after {
  display: block;
  content: "";
  opacity: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sidebar .logo,
.off-canvas-sidebar .logo {
  position: relative;
  padding: 7px 0.8rem;
  z-index: 4;
}
.sidebar .logo a.logo-mini,
.off-canvas-sidebar .logo a.logo-mini {
  opacity: 1;
  float: left;
  width: 34px;
  text-align: center;
}
.sidebar .logo .simple-text,
.off-canvas-sidebar .logo .simple-text {
  text-transform: uppercase;
  display: block;
  white-space: nowrap;
  font-size: 1rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
}


.treeview-menu {
  font-size: 14px;
  width: calc(100% + 1px);
  background-color: #333;
  visibility: hidden;
  padding: 0;
  opacity: 0;
  height:0;
  transition: visibility 0s, opacity 0.2s linear;
  overflow-y: hidden;
}
.treeview-menu > li {
  padding: 0;
  margin: 0;
  width: 100% !important;
}
.sidebar .nav .treeview-menu > li > .nav-link {
  padding: 7px 5px 7px 25px;
  margin: 0;
  text-transform: none;
}
.treeview-menu .nav-link.active {
  opacity: 1;
  background-color: #555;
  border-radius: 0;
  border-left: 4px solid $light-blue;
}
.treeview-menu .nav-link.active:before {
  border-right: 10px solid $beige;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 0;
  opacity: 1;
  top: 12px;
  transition: opacity 150ms ease-in;
}
.treeview-menu i {
  margin-right: 0 !important;
  font-size: 15px !important;
}
.treeview-menu.active {
  visibility: visible;
  height: auto;
  opacity: 1;
}
.toggle-treeview-icon {
  margin-top: -3px;
  margin-right: 0 !important;
  float: right !important;
  font-size: 18px !important;
  transition: transform 0.2s;
}
.toggle-treeview-icon.active {
  transform: rotate(-90deg);
}
